# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
.env

# Flask specific
instance/
.webassets-cache

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints
